<div class="max-w-sm mx-auto bg-white rounded-lg shadow-md overflow-hidden">
    <div class="bg-blue-600 py-2">
        <div class="flex justify-center ">
            <svg class="h-24 w-24 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </div>
    </div>
    <div class="flex p-4 justify-between items-center">
        @if(userCard?.membershipType) {
        <div class="badge inline-block text-white text-xs font-medium px-2 py-1 rounded-full"
            [ngClass]="userCard?.membershipType === 'Basic' ? 'bg-yellow-500' : userCard?.membershipType === 'Premium' ? 'bg-blue-500' :'bg-green-500'">
            {{userCard?.membershipType}}</div>
        }

        @if(userCard?.role) {
        <div class="badge inline-block text-white text-xs font-medium px-2 py-1 rounded-full bg-blue-500">
            {{userCard?.role}}</div>
        }

        <ng-content select="[favoriteHeader]"></ng-content>
    </div>
    <div class="p-6 text-center">
        <h3 class="text-lg font-medium">{{userCard?.name}}</h3>
        <p class="text-gray-500 text-sm mb-1">{{userCard?.email}}</p>
        <p class="text-gray-500 text-sm mb-1">{{userCard?.phoneNumber}}</p>
        @if(userCard?.membershipStartDate) {
        <p class="text-gray-400 text-sm mb-1 italic">Mmbership Started on {{userCard?.membershipStartDate}}</p>
        }
    </div>
</div>