<header class="sticky top-0 flex justify-between bg-blue-500 text-white p-5 z-10">
    <div class="logo text-lg font-medium">Library System Application</div>
    <nav class="flex gap-3">
        <ul class="flex gap-3">
            @for(menu of menus; track menu.name) {
            <li>
                @if(menu?.link) {
                <a class="text-sm font-medium" href="javascript:void(0)" [routerLink]="[menu?.link]">{{menu?.name}}</a>
                } 
            </li>
            }
            <li>
                <span class="tetx-sm font-semibold underline pr-2">{{authService.getUserInfo()?.name}}</span>
                <a class="text-sm font-medium" href="javascript:void(0)" (click)="logout()">Logout</a>
            </li>
        </ul>
    </nav>
</header>