<div class="flex flex-col my-5 px-5 mx-auto">
    <div class="flex py-2 mb-5 justify-between items-center">
        <h1 class="text-xl text-black-500 font-medium">Transactions Summary</h1>
        <button
            class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded shadow-md hover:shadow-lg transition-shadow duration-300"
            (click)="navigate('/transactions/create')">Create Transactions</button>
    </div>
    <div class="flex justify-center flex-wrap gap-4 overflow-x-auto">
        <table class="min-w-full border-collapse border border-gray-300">
            <thead>
                <tr class="bg-gray-200">
                    <th class="border border-gray-300 px-4 py-2 text-left">#</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Member Name</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Book Details</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Book Issue Date</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Book Return Date</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Status</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Fine Amount</th>
                    <th class="border border-gray-300 px-4 py-2 text-left">Action</th>
                </tr>
            </thead>
            <tbody>
                @if((transactions$ | async)?.length) {
                @for(transaction of (transactions$ | async); let i = $index; track transaction.id) {
                <tr class="odd:bg-white even:bg-gray-100">
                    <td class="border border-gray-300 px-4 py-2">{{i+1}}</td>
                    <td class="border border-gray-300 px-4 py-2">
                        <h1 class="text-lg font-medium">{{transaction.memberDetails?.name}} <span
                                class="badge inline-block text-white text-xs font-medium px-2 py-1 rounded-full"
                                [ngClass]="{
                                    'bg-red-500': converDate(transaction.returnDate) < currentDate
                                  }">{{
                                converDate(transaction.returnDate) < currentDate ? 'Overdue' : '' }}</span>
                                 <span class="badge inline-block text-white text-xs font-medium px-2 py-1 rounded-full"
                                 [ngClass]="getBadgeClassByMembershipType(transaction)" title="Membership Type">
                                 {{transaction?.memberDetails?.membershipType}}</span>
                        </h1>
                        <p class="text-sm">{{transaction.memberDetails?.email}}</p>
                    </td>
                    <td class="border border-gray-300 px-4 py-2">
                        <h1 class="text-lg font-medium">{{transaction.bookDetails?.title}}</h1>
                        <p class="text-sm">{{transaction.bookDetails?.author}}</p>
                    </td>
                    <td class="border border-gray-300 px-4 py-2">{{transaction.issueDate | date}}</td>
                    <td class="border border-gray-300 px-4 py-2">{{transaction.returnDate | date}}</td>
                    <td class="border border-gray-300 px-4 py-2">{{transaction.status}}</td>
                    <td class="border border-gray-300 px-4 py-2">{{transaction.fineAmount | currency: 'INR':true}}</td>
                    <td class="border border-gray-300 px-4 py-2">
                        <div class="flex gap-2">
                            <span>
                                <svg class="h-4 w-4 text-red-500" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                                    (click)="navigate('/transactions/edit', transaction.id)">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                </svg>
                            </span>
                            <span>
                                <svg class="h-4 w-4 text-red-500" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    (click)="removeTransaction(transaction.id)">
                                    <polyline points="3 6 5 6 21 6" />
                                    <path
                                        d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
                                    <line x1="10" y1="11" x2="10" y2="17" />
                                    <line x1="14" y1="11" x2="14" y2="17" />
                                </svg>
                            </span>
                        </div>
                    </td>
                </tr>
                }
                } @if(!(transactions$ | async)?.length) {
                <tr>
                    <td class="px-4 py-2" colspan="9">
                        <p class="text-lg font-medium text-center">There is no data available</p>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>